@import 'compass/reset';
@import 'compass/css3';

$primary_color: #F0F;
$secondary_color: #0F0;
$background_color: #FFFFFF;
BODY { background-color: $primary_color; }


ul.posts {
  
  li {
    border: solid 1px grey;
    .title {
      font-weight: bold;
      font-size: 16pt;
    }
    .content {
    }
  }
}

form {
  label {
    display: block;
  }
}
nav {float: right;}
section#content {clear: both;}
