!!! 5

%head
  =javascript_include_tag :defaults
  =stylesheet_link_tag 'screen'
  =stylesheet_link_tag 'print'
  =stylesheet_link_tag 'main'
  - unless Theme.first.nil?
    =stylesheet_link_tag Theme.first.file_name
%body
  %p.notice= notice
  %p.alert= alert
  %section#content= yield

	
